<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Logo e texto -->
      <div class="navbar-brand d-flex align-items-center">
        <img src="../../../assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span class="ms-2">Uniguaçu-IMS</span>
      </div>
      
      <!-- Itens da navbar -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fornecedor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Empréstimo</a>
          </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Sair</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "register" %}">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "home" %}">Entrar</a>
          </li>
          {% endif %}

        </ul>
        
        <!-- Formulário de busca -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Busca</button>
        </form>
      </div>
    </div>
  </nav>
  